server {
		listen 80;
		
		location /request/driver {
			proxy_pass http://${RIDESHARING}:8080;
		}
		location /request/rider {
			proxy_pass http://${RIDESHARING}:8080;
		}
		location /rating {
			proxy_pass http://${RATING}:8080;
		}
	}